<section>
  <div class="mx-auto max-w-7xl px-8 pt-12 pb-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/circle-logo.png"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                游눹 Alexander Farf치n Navarro
              </h1>
              <h2 class="text-sm font-light text-neutral-500">
                Ingeniero de Software | F칤sico
              </h2>
              <p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="https://alexfarfan.site/">alexfarfan.site</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-16 text-sm font-light">
          <p class="text-black dark:text-white font-semibold">Acerca de m칤</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              춰Hola! Soy un ingeniero de software freelance con una pasi칩n por la creaci칩n de soluciones tecnol칩gicas innovadoras. Me gusta definirme como una persona asertiva, paciente y con conocimiento sobre diversos temas.
            </p>
            <p>
              Con m치s de 2 a침os de experiencia en la industria, he trabajado en una amplia gama de proyectos que me han permitido desarrollar habilidades s칩lidas en el dise침o, desarrollo y entrega de software de alta calidad.
            </p>
            <p>
              쯈uieres contratarme? Puedes ver mis servicios y precios dando click 
              <a 
                href="https://loweffort.notion.site/Bienvenido-emprendedor-b6e0e8635bfd412bab98cb731372e3d9" 
                class="text-sm underline hover:no-underline duration-200 dark:text-white"
                target="_blank"
              >
                aqu칤
              </a>
            </p>
          </div>
        </div>
        <div class="mt-8 text-sm font-light">
          <p class="text-black dark:text-white font-semibold">Habilidades</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              <span class="text-black dark:text-white">Mobile:</span>
              Android Studio, Kotlin, Firebase, Jetpack Compose
            </p>
            <p>
              <span class="text-black dark:text-white">Front-end:</span>
              HTML, CSS, Javascript, ReactJS, TailwindCSS, Astro, NextJS
            </p>
            <p>
              <span class="text-black dark:text-white">Back-end:</span>
              NodeJS, Express, Mysql, PostgresSQL, MongoDB, Firebase
            </p>
            <p>
              <span class="text-black dark:text-white">Herramientas:</span>
              Linux, Git, Neovim, Docker, Figma, Postman, Notion, Google Analytics
            </p>
            <p>
              <span class="text-black dark:text-white">Despliegue:</span>
              Hostinger, Github Pages, Render
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
